In [29]:
import pandas as pd
import numpy as np
import os

In [30]:
# Replace 'your_directory_path' with the path to your folder
folder_path = 'atbat'

# List all CSV files in the folder
csv_files = [file for file in os.listdir(folder_path) if file.endswith('.csv')]

In [31]:
csv_files

['2020.csv',
 '2021.csv',
 '2023.csv',
 '2022.csv',
 '2019.csv',
 '2018.csv',
 '2024.csv',
 '2015.csv',
 '2014.csv',
 '2016.csv',
 '2017.csv']

In [32]:
final = pd.DataFrame()

for file in csv_files:
    
    data = pd.read_csv(f'atbat/{file}')
    
    final = pd.concat([data, final])

In [12]:
final = final.sort_values(by='Date')
final.to_csv('atbats.csv')

In [33]:
final.drop(columns=['Unnamed: 0'], inplace=True)

In [34]:
final.head()

,Outcome,Rbi,Bases,Batter_id,Batter_name,Pitcher,Isout,Outs,Date
0,field_out,0,Empty,474568,Jordy Mercer,vs_LHP,True,1,2017-04-01
1,field_out,0,Empty,516782,Starling Marte,vs_LHP,True,2,2017-04-01
2,strikeout,0,Empty,457705,Andrew McCutchen,vs_LHP,True,3,2017-04-01
3,field_out,0,Empty,607680,Kevin Pillar,vs_RHP,True,1,2017-04-01
4,field_out,0,Empty,518626,Josh Donaldson,vs_RHP,True,2,2017-04-01

In [35]:
final['Current_outs'] = final.apply(lambda x: x['Outs'] - 1 if x['Isout'] == True else x['Outs'], axis=1)

In [36]:
final['Scoring_pos'] = final['Bases'].apply(lambda x: 1 if x == 'RISP' else 0)

In [37]:
final

,Outcome,Rbi,Bases,Batter_id,Batter_name,Pitcher,Isout,Outs,Date,Current_outs,Scoring_pos
0,field_out,0,Empty,474568,Jordy Mercer,vs_LHP,True,1,2017-04-01,0,0
1,field_out,0,Empty,516782,Starling Marte,vs_LHP,True,2,2017-04-01,1,0
2,strikeout,0,Empty,457705,Andrew McCutchen,vs_LHP,True,3,2017-04-01,2,0
3,field_out,0,Empty,607680,Kevin Pillar,vs_RHP,True,1,2017-04-01,0,0
4,field_out,0,Empty,518626,Josh Donaldson,vs_RHP,True,2,2017-04-01,1,0
...,...,...,...,...,...,...,...,...,...,...,...
74396,strikeout,0,RISP,543760,Marcus Semien,vs_RHP,True,2,2021-04-01,1,1
74397,strikeout,0,Empty,624415,Cavan Biggio,vs_RHP,True,3,2021-04-01,2,0
74398,strikeout,0,RISP,543305,Aaron Hicks,vs_RHP,True,1,2021-04-01,0,1
74399,strikeout,0,RISP,519317,Giancarlo Stanton,vs_RHP,True,2,2021-04-01,1,1
74400,strikeout,0,Empty,650402,Gleyber Torres,vs_RHP,True,3,2021-04-01,2,0

In [49]:
rbis_df = final.loc[(final['Rbi'] >= 1) & (final['Scoring_pos'] == 1)]
rbis_df

,Outcome,Rbi,Bases,Batter_id,Batter_name,Pitcher,Isout,Outs,Date,Current_outs,Scoring_pos
13,force_out,1,RISP,425834,B.J. Upton,vs_RHP,True,2,2017-04-01,1,1
23,double,1,RISP,434778,Kendrys Morales,vs_RHP,False,1,2017-04-01,1,1
31,single,1,RISP,605137,Josh Bell,vs_RHP,False,2,2017-04-01,2,1
41,single,1,RISP,624428,Adam Frazier,vs_RHP,False,0,2017-04-01,0,1
43,single,1,RISP,607780,Eric Wood,vs_RHP,False,0,2017-04-01,0,1
...,...,...,...,...,...,...,...,...,...,...,...
74241,sac_fly,1,RISP,596142,Gary Sánchez,vs_LHP,True,2,2020-09-30,1,1
74242,single,1,RISP,518934,DJ LeMahieu,vs_LHP,False,2,2020-09-30,2,1
74265,double,1,RISP,605141,Mookie Betts,vs_LHP,False,0,2020-09-30,0,1
74329,single,1,RISP,666971,Lourdes Gurriel Jr.,vs_RHP,False,0,2021-04-01,0,1
74394,double,1,RISP,545341,Randal Grichuk,vs_RHP,False,0,2021-04-01,0,1

In [57]:
rbis_df['Outcome'].unique()

array(['force_out', 'double', 'single', 'sac_fly', 'field_out', 'triple',
       'sac_bunt', 'field_error', 'fielders_choice',
       'sac_fly_double_play', 'fielders_choice_out', 'walk'], dtype=object)

In [44]:
final.loc[(final['Scoring_pos'] == 1)]['Outcome'].unique()

array(['double', 'hit_by_pitch', 'force_out', 'single', 'walk',
       'field_out', 'strikeout', 'fielders_choice_out', 'sac_fly',
       'fielders_choice', 'field_error', 'intent_walk',
       'grounded_into_double_play', 'triple', 'sac_bunt',
       'catcher_interf', 'double_play', 'wild_pitch',
       'strikeout_double_play', 'sac_fly_double_play', 'passed_ball',
       'balk', 'pitching_substitution', 'game_advisory'], dtype=object)

In [45]:
final['Outcome'].unique()

array(['field_out', 'strikeout', 'walk', 'grounded_into_double_play',
       'double', 'hit_by_pitch', 'single', 'force_out',
       'caught_stealing_2b', 'home_run', 'fielders_choice_out',
       'strikeout_double_play', 'sac_fly', 'fielders_choice',
       'field_error', 'intent_walk', 'double_play', 'triple',
       'pickoff_2b', 'sac_bunt', 'game_advisory', 'sac_fly_double_play',
       'catcher_interf', 'pickoff_1b', 'caught_stealing_3b', 'wild_pitch',
       'other_out', 'pickoff_caught_stealing_2b', 'pickoff_3b',
       'caught_stealing_home', 'triple_play',
       'pickoff_caught_stealing_3b', 'stolen_base_home',
       'pickoff_caught_stealing_home', 'stolen_base_2b',
       'pickoff_error_1b', 'passed_ball', 'ejection', 'stolen_base_3b',
       'balk', 'pickoff_error_2b', 'pitching_substitution',
       'sac_bunt_double_play', 'runner_double_play', 'pickoff_error_3b'],
      dtype=object)

In [60]:
third = ['force_out', 'sac_fly', 'field_out', 'field_error', 'fielders_choice', 'sac_bunt', 'sac_fly_double_play', 'fielders_choice_out']

second = ['double', 'single', 'triple']

final['player_position'] = final['Outcome'].apply(lambda x: 3 if x in third else (2 if x in second else 0))

In [61]:
final

,Outcome,Rbi,Bases,Batter_id,Batter_name,Pitcher,Isout,Outs,Date,Current_outs,Scoring_pos,player_position
0,field_out,0,Empty,474568,Jordy Mercer,vs_LHP,True,1,2017-04-01,0,0,3
1,field_out,0,Empty,516782,Starling Marte,vs_LHP,True,2,2017-04-01,1,0,3
2,strikeout,0,Empty,457705,Andrew McCutchen,vs_LHP,True,3,2017-04-01,2,0,0
3,field_out,0,Empty,607680,Kevin Pillar,vs_RHP,True,1,2017-04-01,0,0,3
4,field_out,0,Empty,518626,Josh Donaldson,vs_RHP,True,2,2017-04-01,1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...
74396,strikeout,0,RISP,543760,Marcus Semien,vs_RHP,True,2,2021-04-01,1,1,0
74397,strikeout,0,Empty,624415,Cavan Biggio,vs_RHP,True,3,2021-04-01,2,0,0
74398,strikeout,0,RISP,543305,Aaron Hicks,vs_RHP,True,1,2021-04-01,0,1,0
74399,strikeout,0,RISP,519317,Giancarlo Stanton,vs_RHP,True,2,2021-04-01,1,1,0
74400,strikeout,0,Empty,650402,Gleyber Torres,vs_RHP,True,3,2021-04-01,2,0,0